#footer {
    position: relative;
    padding-top: 10px;
    margin-top:auto;
   left: 0;
   bottom: 0;
   width: 100%;
   background-color: rgb(252, 97, 7);
   color: white;
   text-align: center;
 }